.App {
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

table {
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}


.main-content{
  height: 90%;
  width: 100%;
}

.App{
  background-color: grey;
}

.quick-links{
  background-color: red;
}

.main-content{
  background-color: blue;
}

.mountain-overview{
  background-color: purple;
}

.operating-times{
  background-color: pink;
}