.top-item input {
  margin-top: 5px;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.column-1 {
  width: 120px;
  display: inline-block;
}

.column-2 {
  width: 180px;
  display: inline-block;
}

/* Unique Fields */

.city-state{
  display: flex;
  justify-content: space-between;
}

#contact-city{
  width: 130px;
}

#contact-state{
  width: 45px;
  margin-right: 12px;
}

.country-zip{
  display: flex;
  justify-content: space-between;
}

#contact-country{
  width: 90px;
}

#contact-zip{
  width: 70px;
  margin-right: 12px;
}