.incident-form-component{
  text-align: left;
}

.info-cards {
  display: flex;
  justify-content: left;
}

.card {
  display: inline-block;
  width: 320px;
  padding: 10px;
  margin: 0px;
}

.card-header {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.activity-types{
  display: flex;
  justify-content: left;
}


/* Info Styles */
.info {
  margin: auto;
  margin-bottom: 10px;
}

.info-header {
  text-align: center;
  margin: 0px 0px 10px 0px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 5px;
}

.info-body{
  display: none;
}

.top-items {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.top-item {
  width: 200px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styles */

.form-item, .blank-form-item {
  width: 100%;
  margin-bottom: 5px;
}

.blank-form-item{
  height: 47px;
}

.form-item label {
  width: 100%;
}

.form-item input {
  height: 20px;
  width: 90%;
  margin-top: 5px;
  border: solid gray 1px;
  border-radius: 5px;
}