.navbar {
  background-color: #000000;
  display: flex;
  padding: 3px;
}

.nav-link{
  color: rgb(217 217 217);
  margin-right: 15px;
}

#homeLogo {
  height: 19px;
  margin-right: 5px;
}

.toggle{
  display: none;
  margin: 2px 10px 0px 0px;
}

.toggle-line{
  width: 20px;
  height: 2px;
  background-color: rgb(217 217 217);
  margin: 3px 0;
}


@media only screen and (max-width: 430px) {
  .nav-link{
    display: none;
  }
  .logo{
    display: inline-block;
  }
  .toggle{
    display: inline-block;
  }
  .navbar{
    justify-content: space-between;
  }
}
