.top-item input {
  margin-top: 5px;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.column-1 {
  width: 120px;
  display: inline-block;
}

.column-2 {
  width: 180px;
  display: inline-block;
}

.form-item {
  width: 100%;
  margin-bottom: 5px;
}

.form-item label {
  width: 100%;
}

.form-item input {
  height: 20px;
  width: 90%;
  margin-top: 5px;
  border: solid gray 1px;
  border-radius: 5px;
}


/* Unique Fields */

.city-state{
  display: flex;
  justify-content: space-between;
}

#contact-city{
  width: 130px;
}

#contact-state{
  width: 45px;
  margin-right: 12px;
}

.country-zip{
  display: flex;
  justify-content: space-between;
}

#contact-country{
  width: 90px;
}

#contact-zip{
  width: 70px;
  margin-right: 12px;
}