.incident-form-component{
  text-align: left;
}

.info-cards {
  display: flex;
  justify-content: left;
}

.card {
  display: inline-block;
  width: 320px;
  padding: 10px;
  margin: 0px;
}

.card-header {
  text-align: center;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 5px;
}

.activity-types{
  display: flex;
  justify-content: left;
}
